<h1>"Testing infrastructure working!"</h1>
<div> 
<form action ='/names' method = 'post'>
      <input type="type", name="player_1_name">
      <input type="type", name="player_2_name">
      <input type="submit", value="Submit">
    </form>  
</div>